/* .divPadreBienvenida {
    display: grid;
    grid-template-columns: auto auto;
} */

.divBienvenida {
    border: 1px black solid;
    border-radius: 1rem;
    width: 40%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 2rem auto 0 auto;
    -webkit-box-shadow: 5px 7px 17px 3px rgba(0, 0, 0, 0.65);
    box-shadow: 5px 7px 17px 3px rgba(0, 0, 0, 0.65);

}

.titBienvenida {
    font-family: "Press Start 2P", cursive !important;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px #FDEE00, 4px 4px #FBF200, 6px 6px #F8F600;
    color: #EE1C23;
}

.imgSnorlaxBienvenida {
    display: block;
    width: 15rem;
    margin: auto auto 0 auto;

}

.titBienvenida {
    font-family: "Press Start 2P", cursive;
    font-size: 48px;
    text-align: center;
    text-shadow: 4px 4px #1756eb;
    color: #f0ca33;
}

.pBienvenida {
    font-size: 20px;
}


.btnBienvenida {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 0.9375rem 3.125rem;
    text-decoration: none !important;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnBienvenida:hover {
    background-color: #27ae60;
}

.btnBienvenida:active {
    background-color: #27ae60;
    transform: translateY(2px);
    transition: none;
    transition-duration: 0.1s;
}